@charset "UTF-8";
/* ---reset.css--- */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
button,
footer,
header,
section {
  margin: 0;
  padding: 0;
}

/*--------- 共通設定 ---------*/
body {
  font-family: "Montserrat", "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
}

::-moz-selection {
  color: #202a20;
  background-color: #cfffa0;
}

::selection {
  color: #202a20;
  background-color: #cfffa0;
}

.container {
  position: relative;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 20px 2vw;
}

a,
button {
  color: #202a20;
  cursor: pointer;
  text-decoration: none;
}

footer {
  padding: 20px 2vw 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  font-size: 12px;
  font-weight: 400;
  color: #202a20;
}

.next-button {
  width: -moz-fit-content;
  width: fit-content;
  color: #202a20;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  font-style: italic;
  font-weight: 500;
  padding: 0 0 5px;
  transition: background 0.3s ease;
}
.next-button:hover {
  color: #498624;
}

@media (max-width: 991px) {
  body {
    padding: 3vw;
  }
}
/*--------- 首頁 ---------*/
.gallery {
  display: flex;
  gap: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  width: 33.3333%;
  gap: 10px;
}

.item {
  width: 100%;
}
.item .name {
  opacity: 0;
  position: absolute;
  bottom: -5px;
  z-index: 4;
  transform: translateY(0);
  transition: all 0.2s;
}
.item .name p {
  color: #202a20;
  border-bottom: 1px solid #202a20;
  padding-bottom: 2px;
  font-size: 0.9rem;
  margin-left: 6px;
}
.item::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  background: #ffffff;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  pointer-events: none;
  transition: all 0.6s;
}
.item:hover::before {
  content: "";
  height: 30px;
  background: #fff;
}
.item:hover .name {
  opacity: 1;
  transform: translateY(-5px);
}

.item img {
  width: 100%;
  display: block;
}

.fade-in-up {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease-out, transform 0.6s ease-out;
}

.fade-in-up.active {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 991px) {
  .gallery {
    flex-direction: column;
  }
  .flex-column {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .flex-column .item {
    width: 100%;
  }
}
/*--------- 選單 ---------*/
#header {
  height: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 2vw;
}
header .logo {
  width: 180px;
}
header .logo img {
  width: 100%;
}
header nav {
  display: flex;
}
header nav .mail {
  width: 25px;
  height: 25px;
  padding: 10px 0 0 20px;
  cursor: pointer;
}
header nav .mail .mail-text {
  display: none;
  line-height: 25px;
  margin: -1.5px;
  font-style: italic;
  color: #498624;
}
header nav .mail:hover {
  width: unset;
}
header nav .mail:hover .mail-text {
  display: block;
}
header nav .mail:hover .mail-icon {
  display: none;
}

.filter-buttons button {
  font-size: 16px;
  font-family: "Montserrat", "Noto Sans TC", sans-serif;
  font-weight: 500;
  color: #202a20;
  background: none;
  border: none;
  border-radius: 20px;
  padding: 6px 10px;
  margin: 2px 5px;
}
.filter-buttons button::before {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 20px;
  display: inline-block;
  position: relative;
  top: 3px;
  left: -3px;
  background: #202a20;
  transition: all 0.5s ease-in-out;
}

.filter-buttons button:hover::before,
.filter-buttons button:active::before {
  content: "";
  background: #498624;
}

.filter-buttons button:focus::before {
  content: "";
  background: #498624;
}

@media (max-width: 991px) {
  .filter-buttons button::before {
    content: "";
    display: none;
  }
}
/*--------- 漢堡 ---------*/
.hamburger {
  display: none;
  position: absolute;
  top: 15px;
  right: 20px;
  width: 30px;
  height: 22px;
  z-index: 1001;
  cursor: pointer;
}

.hamburger span {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #202a20;
  left: 0;
  transition: all 0.4s ease;
}

/* 三條線重疊時的位置 */
.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 9px;
}

.hamburger span:nth-child(3) {
  top: 18px;
}

/* 點擊後變成 X */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 9px; /* 中心點 */
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 9px; /* 中心點 */
}

@media (max-width: 991px) {
  .hamburger {
    display: flex;
    right: 3vw;
  }
  nav#nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    gap: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: top 0.3s ease-in-out;
  }
  nav#nav-menu .filter-buttons {
    margin: 20px auto;
  }
  nav#nav-menu .filter-buttons button {
    margin: 15px auto;
    display: block;
  }
  nav#nav-menu .mail {
    padding: 5px;
  }
  nav#nav-menu.active {
    top: 0;
  }
}
/*--------- 作品分頁 ---------*/
.work {
  display: flex;
  gap: 2vw;
}
.work .info {
  width: 24vw;
}
.work .info .title {
  width: -moz-fit-content;
  width: fit-content;
  color: #202a20;
  font-weight: 500;
  box-shadow: 0 1.2px;
  padding-bottom: 3px;
}
.work .info .describe {
  color: #202a20;
  font-size: 14px;
  line-height: 1.6;
  padding: 15px 0;
  font-weight: 400;
  text-align: justify;
}
.work .info .credit {
  font-size: 12px;
  line-height: 1.4;
  color: #498624;
}
.work .images {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
}
.work .images img,
.work .images video {
  width: 100%;
}
.work .images div.half {
  width: 34vw;
}

@media (min-width: 992px) and (max-width: 1400px) {
  .two-lines {
    display: block;
  }
}
@media (max-width: 991px) {
  .work {
    flex-direction: column;
    gap: 3vw;
  }
  .work .info {
    width: 94vw;
  }
  .work .images {
    width: 94vw;
  }
  .work .images img {
    width: 100%;
  }
  .work .images div.half {
    width: 94vw;
  }
}/*# sourceMappingURL=style.css.map */